#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-size: 25px, 25px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  
.container {
    justify-content: center;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    min-height: 315px;
}

.dropdown {
    justify-content: center;
    position: relative;
    width: 230px;
}

.dropdown-content {
    background-color: #f6f6f6;
    width: 230px;
    overflow: auto;
    border: 1px solid black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.grid-container {
    display: grid;
    float: right;
    border-color: black;
    grid-template-columns: auto auto;
    grid-template-rows: 50px auto;
    grid-gap: 0px;
    background-color: white;
    width: 230px;
    height: 325px;
}

.grid-container > div {
    border-color: black;
    border-radius: 1px;
    background-color: #f6f6f6;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.dropdown a:hover {
    background-color: #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    display: table-cell;
    text-align: left;
    padding: 8px;
    max-height: 30px;
    line-height: 30px;
    height: 30px;
}

.previous-page {
    font-size: xxx-large;
    border-radius: 50%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

a:hover {
    background-color: #ddd;
    color: black;
}

tr:nth-child(even) {background-color: #f2f2f2;}
